{% extends 'layout.html.twig' %}

{% block title %}Мониторинг{% endblock %}

{% block content %}
<div class="flex flex-row flex-wrap gap-2">
    <div class="text-2xl font-semibold w-full">
        Мониториг
    </div>
    <div class="card p-3 shadow w-sm bg-base-100">
        Звонки
        <div class="flex flex-row items-start mt-2">
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Активные
                </div>
                <div class="text-lg font-bold">
                    {{ callsCounts.total }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Принято
                </div>
                <div class="text-lg font-bold text-success">
                    {{ callsCounts.serve }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Ожидают
                </div>
                <div class="text-lg font-bold text-error">
                    {{ callsCounts.wait }}
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 shadow w-sm bg-base-100">
        Консультанты
        <div class="flex flex-row items-start mt-2">
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Онлайн
                </div>
                <div class="text-lg font-bold">
                    {{ consultantsCounts.total }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Обслуживают
                </div>
                <div class="text-lg font-bold text-success">
                    {{ consultantsCounts.serve }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Ожидают
                </div>
                <div class="text-lg font-bold text-error">
                    {{ consultantsCounts.wait }}
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 shadow w-sm bg-base-100">
        Каналы
        <div class="flex flex-row items-start mt-2">
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Всего
                </div>
                <div class="text-lg font-bold">
                    {{ channelsCounts.total }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Активные
                </div>
                <div class="text-lg font-bold text-success">
                    {{ channelsCounts.active }}
                </div>
            </div>
            <div class="flex-1">
                <div class="text-xs text-secondary">
                    Неактивные
                </div>
                <div class="text-lg font-bold text-error">
                    {{ channelsCounts.empty }}
                </div>
            </div>
        </div>
    </div>
    <div class="w-full text-lg font-semibold">
        Звонки
    </div>
    <div class="card p-3 shadow w-xs bg-base-100">
        Среднее время ожидания
        <div class="text-lg font-bold flex flex-row items-start justify-center mt-2 py-2">
            {{ callsTimes.avgWait }}
        </div>
    </div>
    <div class="card p-3 shadow w-xs bg-base-100">
        Максимальное время ожидания
        <div class="text-lg font-bold flex flex-row items-start justify-center mt-2 py-2">
            {{ callsTimes.maxWait }}
        </div>
    </div>
    <div class="card p-3 shadow w-xs bg-base-100">
        Среднее время обслуживания
        <div class="text-lg font-bold flex flex-row items-start justify-center mt-2 py-2">
            {{ callsTimes.avgServe }}
        </div>
    </div>
    <div class="card p-3 shadow w-xs bg-base-100">
        Максимальное время обслуживания
        <div class="text-lg font-bold flex flex-row items-start justify-center mt-2 py-2">
            {{ callsTimes.maxServe }}
        </div>
    </div>
    <div class="w-full card p-3 shadow max-w-6xl bg-base-100">
        Текущие
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Номер</th>
                    <th>Статус</th>
                    <th>Время ожидания</th>
                    <th>Время обслуживания</th>
                </tr>
            </thead>
            <tbody>
                {% for call in calls %}
                    <tr>
                        <td> {{ call.id }} </td>
                        <td> {{ call.prefix }} {{ call.num }} </td>
                        <td> {{ call.status }} </td>
                        <td> {{ call.intervalWait }} </td>
                        <td> {{ call.intervalProcess }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(calls) }}
    </div>
    <div class="w-full text-lg font-semibold">
        Консультанты
    </div>
    <div class="w-full card p-3 shadow max-w-6xl bg-base-100">
        Онлайн
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ФИО</th>
                    <th>Статус</th>
                    <th>Текущий звонок</th>
                    <th>Время ожидания</th>
                    <th>Время обслуживания</th>
                </tr>
            </thead>
            <tbody>
                {% for consultant in consultants %}
                    <tr>
                        <td> {{ consultant.id }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(consultants) }}
    </div>
    <div class="w-full text-lg font-semibold">
        Каналы
    </div>
    <div class="card p-3 shadow w-md bg-base-100">
        Количество ожидающих звонков
        <img src="{{ path('app_monitoring_channels') }}" class="w-full h-[250px] object-contain object-center" >
    </div>
    <div class="card p-3 shadow w-md bg-base-100">
        Среднее время ожидания (мин.)
        <img src="{{ path('app_monitoring_channels') }}?param=avg" class="w-full h-[250px] object-contain object-center" >
    </div>
    <div class="card p-3 shadow w-md bg-base-100">
        Максимальное время ожидания (мин.)
        <img src="{{ path('app_monitoring_channels') }}?param=max" class="w-full h-[250px] object-contain object-center" >
    </div>
    <div class="w-full h-2"></div>
    <div class="card p-3 shadow w-md bg-base-100">
        Количество принятых звонков
        <img src="{{ path('app_monitoring_channels') }}?type=serve" class="w-full h-[250px] object-contain object-center" >
    </div>
    <div class="card p-3 shadow w-md bg-base-100">
        Среднее время обслуживания (мин.)
        <img src="{{ path('app_monitoring_channels') }}?type=serve&param=avg" class="w-full h-[250px] object-contain object-center" >
    </div>
    <div class="card p-3 shadow w-md bg-base-100">
        Максимальное время обслуживания (мин.)
        <img src="{{ path('app_monitoring_channels') }}?type=serve&param=max" class="w-full h-[250px] object-contain object-center" >
    </div>
</div>
{% endblock %}
