{% extends 'layout.html.twig' %}

{% block title %}Кастомизация{% endblock %}

{% block content %}
<div class="card shadow bg-base-100 p-3 max-w-md mx-auto">
    <div class="text-xl mb-4">Редактирование контента</div>
    {{ form_start(form) }}
        {{ form_row(form.theme) }}

        {% if customContent.logo %}
            <label class="label">
                Текущий логотип
            </label>
            <img src="{{ customContent.logo }}" class="h-5 max-w-full object-cover object-center mb-4">
        {% endif %}
        {{ form_row(form.logo) }}
        {% if customContent.logoDark %}
            <label class="label">
                Текущий логотип для тёмной темы
            </label>
            <img src="{{ customContent.logoDark }}" class="h-5 max-w-full object-cover object-center mb-4">
        {% endif %}
        {{ form_row(form.logoDark) }}
        {{ form_row(form.marquee) }}
        <button class="btn btn-primary ml-auto block">Сохранить</button>
    {{ form_end(form) }}
</div>
{% endblock %}
