{% extends 'layout.html.twig' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
{% include "reports/_header.html.twig" %}
<div class="card p-3 bg-base-100 shadow overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Статус</th>
                <th>Канал</th>
                <th>Консультант</th>
                <th>Начало звонка</th>
                <th>Принятие звонка</th>
                <th>Конец звонка</th>
                <th>Время ожидания</th>
                <th>Время обслуживания</th>
            </tr>
        </thead>
        <tbody>
            {% for call in pagination %}
                <tr {% if not call.acceptedAt %}class="bg-error/15"{% endif %}>
                    <td>
                        {{ call.prefix }} {{ call.num }}
                    </td>
                    {% if call.acceptedAt %}
                        <td class="text-success flex flex-row items-center gap-2">
                            <img class="w-3 h-3" src="/images/call-received.svg">
                            Принят
                        </td>
                    {% else %}
                        <td class="text-error flex flex-row items-center gap-2">
                            <img class="w-3 h-3" src="/images/call-missed.svg">
                            Прошущен
                        </td>
                    {% endif %}
                    <td>
                        {{ call.channel.title }}
                    </td>
                    <td>
                        {{ call.consultantName }}
                    </td>
                    <td>
                        {{ call.formatWaitStart }}
                    </td>
                    <td>
                        {{ call.formatAcceptedAt }}
                    </td>
                    <td>
                        {{ call.formatClosedAt }}
                    </td>
                    <td>
                        {{ call.intervalWait }}
                    </td>
                    <td>
                        {{ call.intervalProcess }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
