{% extends 'layout.html.twig' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
{% include "reports/_header.html.twig" %}
<div class="card p-3 bg-base-100 shadow overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>Время</th>
                <th>Номер</th>
                <th>Статус</th>
                <th>Канал</th>
                <th>Консультант</th>
                <th>Длительность</th>
                <th>Средняя оценка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for call in result %}
                <tr {% if not call.accepted %}class="bg-error/15"{% endif %}>
                    <td>
                        {{ call.formatWaitStart }}
                    </td>
                    <td>
                        {{ call.num }}
                    </td>
                    {% if call.accepted %}
                        <td class="text-success flex flex-row h-max items-center gap-2">
                            <img class="w-3 h-3" src="/images/call-received.svg">
                            Принят
                        </td>
                    {% else %}
                        <td class="text-error flex flex-row h-max items-center gap-2">
                            <img class="w-3 h-3" src="/images/call-missed.svg">
                            Пропущен
                        </td>
                    {% endif %}
                    <td>
                        {{ call.channel }}
                    </td>
                    <td>
                        {{ call.consultant }}
                    </td>
                    <td>
                        {{ call.duration }}
                    </td>
                    <td>
                        {{ call.quality ? call.quality|round : '-' }}
                    </td>
                    <td>
                        <a href="{{ path('app_call_report', {'call' : call.id}) }}" class="btn btn-xs">
                            Подробнее
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
