{% extends 'layout.html.twig' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
{% include "reports/_header.html.twig" %}
<div class="card p-3 bg-base-100 shadow overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Канал</th>
                <th class="bg-error/15">Пропущено звонков</th>
                <th class="bg-error/15">Макс. ожид.</th>
                <th class="bg-error/15">Средн. ожид.</th>
                <th class="bg-error/15">Мин. ожид.</th>
                <th class="bg-success/5">Принято звонков</th>
                <th class="bg-success/5">Макс. ожид.</th>
                <th class="bg-success/5">Средн. ожид.</th>
                <th class="bg-success/5">Мин. ожид.</th>
                <th class="bg-success/5">Макс. обсл.</th>
                <th class="bg-success/5">Средн. обсл.</th>
                <th class="bg-success/5">Мин. обсл.</th>
            </tr>
        </thead>
        <tbody>
            {% for channel in result %}
                <tr>
                    <td>
                        {{ channel.id }}
                    </td>
                    <td>
                        {{ channel.title }}
                    </td>
                    <td class="bg-error/15">
                        {{ channel.rejected ?? 0 }}
                    </td>
                    <td class="bg-error/15">
                        {{ channel.maxWaitRe ?? "00:00:00" }}
                    </td>
                    <td class="bg-error/15">
                        {{ channel.avgWaitRe ?? "00:00:00" }}
                    </td>
                    <td class="bg-error/15">
                        {{ channel.minWaitRe ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.accepted ?? 0 }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.maxWaitAc ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.avgWaitAc ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.minWaitAc ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.maxServ ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.avgServ ?? "00:00:00" }}
                    </td>
                    <td class="bg-success/5">
                        {{ channel.minServ ?? "00:00:00" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
