{% extends 'layout.html.twig' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
{% include "reports/_header.html.twig" %}
<div class="card p-3 bg-base-100 shadow overflow-auto">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Консультант</th>
                <th>Email</th>
                <th>Обслужено звонков</th>
                <th>Макс. обсл.</th>
                <th>Средн. обсл.</th>
                <th>Мин. обсл.</th>
                <th>Общая оценка</th>
            </tr>
        </thead>
        <tbody>
            {% for user in result %}
                <tr>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        {{ user.displayName }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.calls }}
                    </td>
                    <td>
                        {{ user.max }}
                    </td>
                    <td>
                        {{ user.avg }}
                    </td>
                    <td>
                        {{ user.min }}
                    </td>
                    <td>
                        {{ user.quality ? user.quality|round : '-' }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
