{% extends 'layout.html.twig' %}

{% block title %}Отчёты{% endblock %}

{% block content %}
{% include "reports/_header.html.twig" %}
<div class="font-semibold mb-2">
    Пропущенные
</div>
<div class="flex flex-row items-start w-full justify-start gap-2 mb-4 flex-wrap">
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Всего
        </div>
        <div class="font-semibold text-lg{% if totals.rejected.total > 0 %} text-error{% endif %}">
            {{ totals.rejected.total }} звонок(ов)
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Минимальное время ожидания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.rejected.max }}
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Среднее время ожидания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.rejected.avg }}
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Максимальное время ожидания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.rejected.max }}
        </div>
    </div>
</div>
<div class="font-semibold mb-2">
    Принятые
</div>
<div class="flex flex-row items-start w-full justify-start gap-2 mb-4 flex-wrap">
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Всего
        </div>
        <div class="font-semibold text-lg{% if totals.accepted.total > 0 %} text-success{% endif %}">
            {{ totals.accepted.total }} звонок(ов)
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Среднее время ожидания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.accepted.avgWait }}
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Максимальное время ожидания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.accepted.maxWait }}
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Среднее время обслуживания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.accepted.avgServe }}
        </div>
    </div>
    <div class="card w-70 p-3 bg-base-100 shadow">
        <div class="text-sm text-secondary">
            Максимальное время обслуживания
        </div>
        <div class="font-semibold text-lg">
            {{ totals.accepted.maxServe }}
        </div>
    </div>
</div>
<div class="flex flex-row flex-wrap gap-4">
    <div>
        <div class="font-semibold mb-2">
            Распределение по часам
        </div>
        <div class="w-full card p-3 max-w-7xl bg-base-100 shadow mb-4 text-xs">
            <img
                class="w-[1200px] h-[400px]"
                src="{{ path('app_reports_graph_hours') }}{{ filter }}"
            >
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#05588f] w-15 h-3"></div>
                Всего
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#ff6266] w-15 h-3"></div>
                Пропущено
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#00a43b] w-15 h-3"></div>
                Принято
            </div>
        </div>
    </div>
    <div>
        <div class="font-semibold mb-2">
            Распределение по дням недели
        </div>
        <div class="card max-w-7xl w-full p-3 bg-base-100 shadow mb-4 text-xs">
            <img
                class="w-[1200px] h-[400px]"
                src="{{ path('app_reports_graph_weekdays') }}{{ filter }}"
            >
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#05588f] w-15 h-3"></div>
                Всего
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#ff6266] w-15 h-3"></div>
                Пропущено
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#00a43b] w-15 h-3"></div>
                Принято
            </div>
        </div>
    </div>
    <div>
        <div class="font-semibold mb-2">
            Распределение по каналам
        </div>
        <div class="w-full card p-3 max-w-7xl bg-base-100 shadow mb-4 text-xs">
            <img
                class="w-[1200px] h-[400px]"
                src="{{ path('app_reports_graph_channels') }}{{ filter }}"
            >
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#05588f] w-15 h-3"></div>
                Всего
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#ff6266] w-15 h-3"></div>
                Пропущено
            </div>
            <div class="flex flex-row items-center gap-3">
                <div class="bg-[#00a43b] w-15 h-3"></div>
                Принято
            </div>
        </div>
    </div>
    <div>
        <div class="font-semibold mb-2">
            Оценки качества
        </div>
        <div class="w-full card p-3 max-w-7xl bg-base-100 shadow mb-4 text-xs">
            <img
                class="w-[1200px] h-[400px]"
                src="{{ path('app_reports_graph_qualities') }}{{ filter }}"
            >
        </div>
    </div>
</div>
{% endblock %}
