<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ channel ? channel.title : 'Некорректная ссылка' }}</title>
    <script type="module" crossorigin src="/client/index.js"></script>
    <link rel="stylesheet" crossorigin href="/client/index.css">
    <meta name="app-theme" content="{{ customContent.theme }}" />
    <meta name="app-logo" content="{{ customContent.logo }}" />
    <meta name="app-logoDark" content="{{ customContent.logoDark }}" />
    <meta name="app-marquee" content="{{ customContent.marquee }}" />
</head>
<body>
    <div id="root"></div>
</body>
</html>
