{% if pageCount > 1 %}
    <div class="join">
        {% if first is defined and current != first %}
            <a class="join-item btn" href="{{ path(route, knp_pagination_query(query, first, options)) }}"><<</a>
        {% else %}
            <a class="join-item btn btn-disabled"><<</a>
        {% endif %}
        {% for page in pagesInRange %}
            {% if page != current %}
                <a class="join-item btn" href="{{ path(route, knp_pagination_query(query, page, options)) }}">
                    {{ page }}
                </a>
            {% else %}
                <a class="join-item btn btn-primary">{{ page }}</a>
            {% endif %}
        {% endfor %}
        {% if last is defined and current != last %}
            <a class="join-item btn" href="{{ path(route, knp_pagination_query(query, last, options)) }}">>></a>
        {% else %}
            <a class="join-item btn btn-disabled">>></a>
        {% endif %}
    </div>
{% endif %}
