{% extends 'layout.html.twig' %}

{% block title %}Подключенные каналы{% endblock %}

{% block content %}
    {{ include('quality/_header.html.twig') }}
    <div class="card shadow bg-base-100 p-3">
        {{ include('quality/_channels_header.html.twig') }}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Префикс</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for channel in pagination %}
                    <tr>
                        <td>{{ channel.id }}</td>
                        <td>{{ channel.prefix }}</td>
                        <td>{{ channel.title }}</td>
                        <td>{{ channel.description }}</td>
                        <td>
                            <form
                                method="post"
                                action="{{ path('app_quality_channels_disconnect', { 'id': quality.id, 'channel': channel.id }) }}"
                                onsubmit="return confirm('Вы уверены, что хотите отключить канал от данного пользователя?');"
                            >
                                <button type="submit" class="btn btn-sm">
                                    Отключить
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Пусто</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
