{% extends 'layout.html.twig' %}

{% block title %}Информация о пользователе{% endblock %}

{% block content %}
    {{ include('user/_header.html.twig') }}
    <div class="card shadow bg-base-100 p-3 max-w-md mx-auto">
        <div class="text-xl mb-4">Информация о пользователе</div>

        {% if user.avatar %}
            <label class="label">
                Текущий аватар
            </label>
            <img src="{{ user.avatar }}" class="w-15 h-15 rounded-full object-cover object-center mb-4">
        {% endif %}

        {{ include('user/_form.html.twig') }}

        {% if not is_self %}
            <div class="h-3" ></div>
            <form class="ml-auto w-max" method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Вы уверны что хотите удалить данного пользователя?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button class="btn btn-error btn-outline">
                    Удалить
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
