{% extends 'layout.html.twig' %}

{% block title %}Все оценки качества{% endblock %}

{% block content %}
    {{ include('user/_header.html.twig') }}
    <div class="card shadow bg-base-100 p-3">
        {{ include('user/_qualities_header.html.twig') }}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for quality in pagination %}
                    <tr>
                        <td>{{ quality.id }}</td>
                        <td>{{ quality.title }}</td>
                        <td>
                            {% if quality.id in connectedIds %}
                                <button disabled class="btn btn-sm">
                                    Подключен
                                </button>
                            {% else %}
                                <form method="post" action="{{ path('app_user_qualities_connect', { 'id': user.id, 'quality': quality.id }) }}">
                                    <button type="submit" class="btn btn-sm">
                                        Подключить
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Пусто</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
